[submodule "modules/xdp-tools"]
	path = modules/xdp-tools
	url = https://github.com/xdp-project/xdp-tools.git
[submodule "modules/bpftool"]
	path = modules/bpftool
	url = https://github.com/libbpf/bpftool.git
